<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container-fluid">
    <h1>V-pull plié </h1>
 <div class="row">
    <div class="col-md-6">

        <img id="apple" src="../static/img/pear/pull1.PNG"/></div><div class="col-md-4"><h3><b>A.</b>
Grab a pair of dumbbells and stand with feet wide, toes turned out about 45 degrees.
     Raise arms overhead in a wide "V," palms facing in.</h3></div>
<br>

<br>
<br>
 </div>
 <div class="row">
     <div class="col-md-6">
          <img id="apple1" src="../static/img/pear/pull2.PNG"/>
     </div>
    <div class="col-md-4">
        <h3>
            <b>B. </b>
Lower into a plié position (bending knees over toes) as elbows bend in by sides until palms line up with shoulders.
            Reverse motion to return to starting position; repeat.
            <br>

<br>
<br>
            <b>Sets:3</b>
<br>

<br>
<br>
            <b>Reps:20</b>

<br>
        </h3>   </div>

</div>

</body>
</html>
