<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container-fluid">
    <h1>Plank Leg Sweep</h1>
 <div class="row">
    <div class="col-md-6">

        <img id="apple" src="../static/img/pear/leg1.PNG"/></div><div class="col-md-4"><h3><b>A.</b>
Begin in full plank position with feet together and core braced (don’t let lower back sag).
 </h3></div>
<br>

<br>
<br>
 </div>
 <div class="row">
     <div class="col-md-6">
          <img id="apple1" src="../static/img/pear/leg2.PNG"/>
     </div>
    <div class="col-md-4">
        <h3>
            <b>B. </b>
Without bending knee, sweep left leg open to side of hip. Hold for 1 count and return to starting position; repeat.
            Do the prescribed number of reps,
            and then switch sides to complete set. Too challenging? Try this from an all-fours position instead.
            <br>

<br>
<br>
            <b>Sets:3</b>
<br>

<br>
<br>
            <b>Reps:10</b>

<br>
        </h3>
    </div>

</div>
</div>
</body>
</html>
