<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container-fluid">
    <h1>Rear Lung Chop</h1>
 <div class="row">
    <div class="col-md-6">

        <img id="apple" src="/static/img/apple/rear1.PNG"/></div><div class="col-md-4"><h3><b>A.</b>
Stand with feet together, holding onto the ends of one dumbbell. Step right leg back and
     lower into a lunge, reaching dumbbell across the outside of left hip.</h3></div>
<br>

<br>
<br>
 </div>
 <div class="row">
     <div class="col-md-6">
          <img id="apple1" src="/static/img/apple/rear2.PNG"/>
     </div>
    <div class="col-md-4">
        <h3>
            <b>B. </b>
Step right foot back into left and reach dumbbell up and across to the right, rotating torso as arms lift.
            Return to starting position and repeat.
            Do the prescribed number of reps, and then switch sides to complete set.
            <br>

<br>
<br>
            <b>Sets:3</b>
<br>

<br>
<br>
            <b>Reps:20</b>

<br>
        </h3>
    </div>

</div>

</body>
</html>
