<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container-fluid">
    <h1>Weighted-BirdDog Exercise</h1>
 <div class="row">
    <div class="col-md-6">

        <img id="apple" src="../static/img/apple/bird1.PNG"/></div><div class="col-md-4"><h3><b>A.</b>Grab a dumbbell in right hand and get down on hands and knees. Extend right arm in front of
    shoulder with palm facing in (end of dumbbell should be touching the ground) and straighten left
     leg out behind hip (toes should lightly touch the ground).</h3></div>
<br>

<br>
<br>
 </div>
 <div class="row">
     <div class="col-md-6">
          <img id="apple1" src="../static/img/apple/bird2.PNG"/>
     </div>
    <div class="col-md-4">
        <h3>
            <b>B.</b>Brace abs in tight and slowly lift right arm and left leg up to joint level. Hold for 1 count,
    then lower arm and leg back down to the floor and repeat. Do the prescribed number of reps,
    and then switch sides to complete set.
            <br>

<br>
<br>
            <b>Sets:3</b>
<br>

<br>
<br>
            <b>Reps:10</b>

<br>
        </h3>
    </div>

</div>
</div>
</body>
</html>
